.wrapper {
   /* height: 90vh; */
   /* overflow: 'hidden'; */
}

.navbarWrapper {
   margin-bottom: 10px;
   border-color: white;
   border-style: solid;
   border-width: 0px;
   border-bottom-width: 1px;
}

.treeWrapper {
   border-radius: 10px;
   color: white;
   margin-right: 10px;
   margin-left: 10px;
   flex: 0.25;
}

.shellWrapper {
   flex: 0.2;
   margin-left: 10px;
   margin-right: 5px;
}

.selectedFile {
   max-width: fit-content;
   min-height: 20;
   color: white;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 5px;
   padding-top: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   user-select: none;
}
